@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../assets/fonts/Montserrat/Montserrat-5829.css);
:root {
  --background-color-1: #efe;
  --text-color-1: #111;
  --button-color: #d1c7a3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-1: #111;
    --text-color-1: #efe;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-family: "Montserrat";
  font-weight: 500;
}

body {
  color: var(--text-color-1);
  background: var(--background-color-1);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
